source https://www.nuget.org/api/v2/
framework: auto-detect
storage: symlink

nuget FSharp.Data
nuget FsUnit
nuget Newtonsoft.Json
nuget OpenCover
nuget Suave
nuget FSharp.Compiler.Service
nuget FAKE
nuget NUnit.Runners
nuget ReportGenerator